body {
    background-color: green;
}
h1 {
    text-align: center;
    font-family: "Texturina" serif;
}
#timeContainer {
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.7);
    margin-left: 25%;
    margin-right: 25%;
}
#timeReadOut {
    font-family: 'JetBrains Mono';
    font-size: 4em;
    margin-top: 50px;
    margin-bottom: 50px;
    color: greenyellow;
}
#selectReadOut {
    font-family: 'JetBrains Mono';
    font-size: 4em;
    margin-top: 50px;
    margin-bottom: 50px;
    color: greenyellow;
}
#timeList {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
@media (max-width: 750px) {
    #timeContainer {
        margin-left: 10%;
        margin-right: 10%;
    }
}